<div class="container">
    <div class="row">
        <div class="col-12">Directives</div>
        <div class="col-9">
            <p>Es una herramienta de angular que nos proporciona para dar comportamientos adicionales a nuestro elementos en el DOM (DOCUMENT OBJECT MODEL / )</p>
            <h5>Tipo de directivas</h5>
            <ul>
                <li>Componente directives: son las directivas mas comunes y definen como sera nuestro html, estilo y comportamiento en el DOM</li>
                <li>Structural directives: nos sirven para cambiar el diseño de nuestro DOM inclusive en codigo. Ejemplo: *ngIf</li>
                <li>Atributes directives: nos permiten cambiar el estilo de los elementos. Ejemplo NgClass</li>
            </ul>
        </div>
    </div>
</div>